<mat-dialog-content>
  <h2 mat-dialog-title>Crea o Modifica Corso</h2>

  <form [formGroup]="formCorso" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <mat-form-field>
        <mat-label>Titolo</mat-label>
        <input
          matInput
          formControlName="title"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Immagine</mat-label>
        <input
          matInput
          formControlName="image"
        />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Descrizione</mat-label>
        <textarea
          matInput
          formControlName="description"
          required
        ></textarea>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">
      Salva
    </button>

  </form>



</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Chiudi</button>
</mat-dialog-actions>
